@font-face {
  font-family: 'PP Pangram';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../fonts/PPPangram/PPPangramSans-Light.woff2') format('woff2'),
  url('../fonts/PPPangram/PPPangramSans-Light.woff') format('woff'),
  url('../fonts/PPPangram/PPPangramSans-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'PP Pangram';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/PPPangram/PPPangramSans-Medium.woff2') format('woff2'),
  url('../fonts/PPPangram/PPPangramSans-Medium.woff') format('woff'),
  url('../fonts/PPPangram/PPPangramSans-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'PP Pangram';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/PPPangram/PPPangramSans-Semibold.woff2')
  format('woff2'),
  url('../fonts/PPPangram/PPPangramSans-Semibold.woff') format('woff'),
  url('../fonts/PPPangram/PPPangramSans-Semibold.ttf') format('truetype');
}
@font-face {
  font-family: 'PP Pangram';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/PPPangram/PPPangramSans-Bold.woff2') format('woff2'),
  url('../fonts/PPPangram/PPPangramSans-Bold.woff') format('woff'),
  url('../fonts/PPPangram/PPPangramSans-Bold.ttf') format('truetype');
}
